body {
	background: #111;
	color: #bbb;
}
.current-room {
	font-weight: bold;
	line-height: 1em;
	font-size: 54px;
	text-align: center;
	color: #666;
    letter-spacing: -0.05em;
    margin: 100px 0 0;
}
.next-event {
	text-align: center;
	margin: 10px 0 100px;
}
@media (min-width: 620px) {
	.current-room {
		font-size: 110px;
	}
}
.calendar-grid-container {
	margin-top: 30px;
	padding: 0 20px 0 30px;
}
@media (min-width: 620px) {
	.calendar-grid-container {
		padding: 0 150px;
	}
}
.calendar-grid {
	position:relative;
	font-size: 16px;
	line-height: 1.5em;
	padding-bottom: 30px;
}
.calendar {
	position:relative;
	height:1.5em;
}
.calendar-title {
	position: absolute;
	top: 0;
	left: -150px;
	width: 150px;
	text-align: right;
	padding: 0 7px;
}
.calendar-title i {
	margin-left: 0.25em;
}
@media (min-width: 620px) {
	.calendar-title {
		padding: 0 10px;
	}
}
.event {
	position: absolute;
	top: 0.25em;
	height: 1em;
	border-left: 1px solid #111;
}
.hour-marker {
	position: absolute;
	top: -30px;
	left: 0;
	background: #444;
	width: 1px;
	height: 100%;
	font-size: 12px;
	color: #888;
	font-weight: bold;
	text-indent: 0.25em;
	line-height: 30px;
}
.hour-marker:nth-child(2n) {
	background: #222;
	z-index: -1;
}
.hour-marker.mod-800 { left: 0%; }
.hour-marker.mod-850 { left: 5%; }
.hour-marker.mod-900 { left: 10%; }
.hour-marker.mod-950 { left: 15%; }
.hour-marker.mod-1000 { left: 20%; }
.hour-marker.mod-1050 { left: 25%; }
.hour-marker.mod-1100 { left: 30%; }
.hour-marker.mod-1150 { left: 35%; }
.hour-marker.mod-1200 { left: 40%; }
.hour-marker.mod-1250 { left: 45%; }
.hour-marker.mod-1300 { left: 50%; }
.hour-marker.mod-1350 { left: 55%; }
.hour-marker.mod-1400 { left: 60%; }
.hour-marker.mod-1450 { left: 65%; }
.hour-marker.mod-1500 { left: 70%; }
.hour-marker.mod-1550 { left: 75%; }
.hour-marker.mod-1600 { left: 80%; }
.hour-marker.mod-1650 { left: 85%; }
.hour-marker.mod-1700 { left: 90%; }
.hour-marker.mod-1750 { left: 95%; }
.hour-marker.mod-1800 { left: 100%; }
